.actions {
  max-width: fit-content;
  margin-top: 30px;
  margin-left: auto;
}

.actions button {
  margin-left: 6px;
}

header h2 {
  text-align: center;
  font-size: 2rem;
  margin-top: 1rem;
  color: #00999b;
}

.form {
  max-width: 80%;
  margin: 0 auto;
}

.select {
  margin: 0.5rem 0.25rem;
  border-radius: 0.3rem;
  border: 1.25px solid #1f1f1f;
  height: 32px;
  width: 99%;
}

.select-label {
  display: block;
  margin-bottom: 0.5rem;
  color: #05726b;
  font-size: 1.25rem;
}

select[disabled] {
  background-color: #cccccc;
  border: 1.25px solid #1f1f1f;
  color: #1f1f1f;
}

main .success-message {
  margin-top: 1rem;
  font-weight: bold;
  font-size: larger;
  text-align: center;
  background: linear-gradient(
    to right,
    #ef5350,
    #f48fb1,
    #7e57c2,
    #2196f3,
    #26c6da,
    #43a047,
    #eeff41,
    #f9a825,
    #ff5722
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
