.login-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  background-image: url(../../assets/loginPageBackground.png);
}

.app-logo {
  width: 200px;
  height: 70px;
  cursor: pointer;
  padding-left: 2%;
  margin-top: 10px;
}

.cart-icon {
  width: 40px;
  height: 40px;
  left: 570px;
  top: 30px;
  opacity: 0.7;
  border-radius: 6px;
  position: absolute;
  background-color: #4eb49c;
}

.cart-icon:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.highlight {
  color: #006064;
}

.login-container h1 {
  left: 8%;
  top: 10%;
  right: 60%;
  height: 44px;
  line-height: 44px;
  position: absolute;
  font-size: 1.875rem;
  letter-spacing: -0.64px;
}

.login-container h2 {
  top: 20%;
  left: 9%;
  color: #032d23;
  font-size: 3.75rem;
  position: absolute;
}

.username-input {
  top: 40%;
  left: 8%;
  width: 385px;
  height: 60px;
  position: absolute;
  border-radius: 6px;
  box-sizing: border-box;
  border: 2px solid #032d23;
}

.username-label {
  display: none;
}

.username-input {
  top: 370px;
  left: 8%;
  width: 385px;
  height: 60px;
  padding-left: 3px;
  position: absolute;
  border-radius: 6px;
  box-sizing: border-box;
  border: 2px solid #032d23;
  background: url(https://img.icons8.com/ios-glyphs/35/00CBCC/user--v1.png) no-repeat scroll 7px 7px;
}

.username-input::placeholder {
  text-align: center;
}

.username-input:hover {
  border: 2px solid #00cbcc;
}

.password-label {
  display: none;
}

.password-input {
  left: 8%;
  top: 450px;
  width: 385px;
  height: 60px;
  position: absolute;
  border-radius: 6px;
  box-sizing: border-box;
  border: 2px solid #032d23;
  background: url(https://img.icons8.com/ios-glyphs/35/00CBCC/lock--v2.png) no-repeat scroll 7px 7px;
}

.password-input::placeholder {
  text-align: center;
}

.password-input:hover {
  border: 2px solid #00cbcc;
}

.text-div {
  margin-top: 24%;
  color: #032d23;
}

.checkbox-input {
  margin-left: 155px;
}

.checkbox-input:hover {
  cursor: pointer;
}

.checkbox-text {
  margin-left: 2px;
}

.actions a {
  color: #032d23;
  margin-left: 6%;
  font-weight: bold;
  text-decoration: none;
}

.actions .login-button {
  width: 385px;
  height: 60px;
  margin-left: 8%;
  margin-top: 3%;
  font-size: 1.2rem;
}

.actions .login-button:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}
